
<div>
<h1><%= @corgi.name %></h1>
 <%= cl_image_tag corgi.photo.key %>
<p>would you like to spend sometime with <%= @corgi.name %> ? </p>
<%= link_to 'click here to check out',  class: "btn btn-ghost"%>
</div>

<div>
<%= link_to 'back', corgis_path,  class: "btn btn-ghost"%>
</div>
