<div>
<h1><%= @corgi.name %></h1>
<%= cl_image_tag @corgi.photo.key, height: 300, width: 400, crop: :fill %>
<p>would you like to spend sometime with <%= @corgi.name %> ? </p>
<%= link_to 'Book Now',  corgis_path, class: "btn btn-ghost"%>
</div>

<div>
<%= link_to 'back', corgis_path,  class: "btn btn-ghost"%>
</div>
