<div class="container-show">
<div class="cards">
<h1><%= @corgi.name.capitalize %></h1>
<% if @corgi.photo.attached? %>
<%= cl_image_tag @corgi.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<p><%= @corgi.price %></p>
<h2><%= @corgi.description %></h2>
<p> You can pick me up from <%= @corgi.address %></p>
<p>Would you like to spend sometime with me? </p>
<%= link_to 'Book Now',  new_corgi_booking_path(@corgi.id), class: "btn btn-flat"%>

</div>

<div>
 <%= link_to 'back', corgis_path,  class: "btn btn-ghost"%>
</div>
